@import url(https://fonts.googleapis.com/css?family=Comfortaa);@import url(https://fonts.googleapis.com/css?family=Baloo);html,
body {
  background-color: rgba(240, 255, 234, 0.08);
  color: #3e243b;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.txt-form {
  background-color: #f9f4e3;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  outline: none;
  border: none;
}

.btn-form {
  outline: none;
  border: none;
}

.card-magazine {
  border-color: #755CDE;
  border-radius: inherit;
}

