@import "variables";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Baloo');

html, body {
   background-color: $body-bg;
   color: #3e243b;
   font-family: 'Comfortaa', sans-serif;
   font-weight: 100;
   height: 100vh;
   margin: 0;
 }

.txt-form {
  background-color: rgb(249, 244, 227);
  font-family: 'Baloo', cursive;
  font-size: 30px;
  outline: none;
  border: none;
}